#header {
    top: 0;
}

#board {
    /*padding: 50%;*/
    /* padding-left: 55.5%;
     padding-top: 31.5%;*/

    margin-left: 8%;
    margin-top: 3%;


    z-index: 1;
    position: absolute;

    /* background-image: url("/img/questpage.png");
     background-repeat: no-repeat;
     width: 100%;
     height: auto;*/

}

.bgimage {
    width: 100%;
    height: auto;
}

.questPageImage {
    width: 140%;

}


#board-content {
    z-index: 2;
    position: absolute;
    top: 19%;
    left: 10%;
    display: block;
    width: 1220px;
    height: 507px;
    overflow-y: auto;
}

#quest-content {
    z-index: 2;
    position: absolute;
    top: 5%;
    /*left: 15%;*/
    display: block;
    width: 70%;
    max-height: 840px;
    overflow-y: auto;
    border: 1px;
}

.dragonLogo {
    margin-top: 28%;
    width: 70%;
}

.level {
    width: 100%;
    margin-top: -10%;
}

#quest-detail {
    z-index: 2;
    position: absolute;
    top: 5%;
    left: 81.5%;
    display: block;
    width: 600px;
    height: 840px;
    overflow-y: auto;
    border: 1px;

}

.login {
    padding: 40px;
    padding-top: 30px;
    margin-top: 100px;
    z-index: 1;
    width: 300px;
    height: 500px;
    background-color: #000;
    position: relative;
    color: #fff;
}

.text {
    z-index: 99;
    float: left;
    margin: 30px;
    padding: 10px;
    padding-top: 30px;
    width: 268px;
    height: 298px;
    text-align: center;
    font-family: GameCube;
    font-size: 25px;
}

.button {
    z-index: 99;
    margin: 10px;
    padding: 10px;
    padding-top: 60px;
    width: 478px;
    height: 135px;
    text-align: center;
}



.button2 {
    z-index: 99;
    margin: 1%;

    padding: 5%;
    padding-top: 6%;
    width: 77%;
    height: 75px;
    background-image: url("../img/button2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    /*border: #1b1e21 3px solid;*/

    font-size: 25px;
    font-family: 'rageitalic';

}


#btn-menu {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 6vw;
    z-index: 9999;
    width: 5.66667vw;
    height: 6.03333vw;
}

#navmenu {
    background-color: #000;
    display: none;
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
}

.board-img {
    z-index: 1;
    position: absolute;
    height: auto;
}

.textInButton {
    text-decoration: none;
    color: black;
}

.content {
    width: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#navmenu a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #aaaaaa;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.dropdown-content {
    display: none;
    padding-left: 8px;
}

#navmenu a:hover, dropdown-btn:hover {
    color: #f1f1f1;
}

#navmenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-align: right;
}

#navmenu .logo {
    position: absolute;
    top: 40px;
    left: 25px;
    margin-left: 50px;
    text-align: left;
    max-width: 50px;
    max-height: 70px;
}

hr.white {
    border-top: 0.5px solid white;
}

@media screen and (max-width: 500px) {
    #navmenu {
        padding-top: 15px;
    }

    .content {
        margin-left: 20px;
    }

    #navmenu a {
        font-size: 18px;
    }

    #quest-content {
        left: 12%;
    }
}

@font-face {
    font-family: 'rageitalic';
    src: url("../font/papyrus.ttf");

}


@font-face {
    font-family: 'baskvill';
    src: url("../font/monsterhunter.ttf");

}


/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
    overflow-y: scroll;
}

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
    width: 5px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
    background: #eee;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #a44200;
    background-image: linear-gradient(315deg, #a44200 0%, #f2c17d 74%);


}

